.modal{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modalContainer{
    width: 80%;
    min-height: 100vh;
    background: gray;
    margin: 8rem 0rem;
    border-radius: 5rem;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.modalContent{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.modalimg{
    object-fit: contain;

}
.modalimgimg {
    width: 80%;
    height: 80%;
    object-fit: contain;
}